._3otl{padding:16px}._3otn{color:#bec2c9;font-size:11px;height:16px;line-height:16px;text-transform:uppercase}._3oto{border-top:1px solid #e9ebee;padding-top:16px}._3otp{color:#90949c;font-size:12px;height:32px;line-height:16px;max-height:32px;overflow:hidden;text-align:center}._1o98{margin-top:12px}.touch ._3otq ._3otr ._5c9u{background:#fff;height:182px;padding:16px}._3otq ._5c9u ._55sr{border:1px solid #fff;border-radius:20px;color:#90949c;font-size:12px;font-weight:normal;line-height:16px;margin-top:11px;padding:3px 0 3px 0}._3otq ._3otr.selectedOption ._55sr{border:1px solid #4080ff;color:#4080ff}._3ots.seefirst span,._3ots.following span{color:#4080ff}._3ott.selectedOption ._3otu{background-image:url(/rsrc.php/v3/yX/r/uG42uo-mLzu.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -610px!important}._3otv.selectedOption ._3otu{background-image:url(/rsrc.php/v3/yX/r/uG42uo-mLzu.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -122px!important}._3ou8.selectedOption ._3otu{background-image:url(/rsrc.php/v3/yX/r/uG42uo-mLzu.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -366px!important}.seefirst ._3ou9::after,.following ._3ou9::after{background-image:url(/rsrc.php/v3/yX/r/uG42uo-mLzu.png);background-repeat:no-repeat;background-size:auto;background-position:-42px -732px;content:'';display:block;height:20px;margin-left:20px;width:12px}.follow ._3ou9{background-image:url(/rsrc.php/v3/yX/r/uG42uo-mLzu.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -753px!important}.following ._3ou9{background-image:url(/rsrc.php/v3/yX/r/uG42uo-mLzu.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -732px!important}.seefirst ._3ou9{background-image:url(/rsrc.php/v3/yX/r/uG42uo-mLzu.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:-21px -753px!important}
._9pn{color:#4080ff}._1to9{opacity:.6}
._1ane._1ane ._5c9u.touched{background-image:none;opacity:.6}
._48kp{background-color:#1d2129;overflow:hidden}
._53dc{position:relative}
._1lk9{color:#90949c}._391s{color:#1d2129;font:26px Helvetica, Arial, sans-serif;font-weight:300;letter-spacing:-0.25px;line-height:1}._391s .alternate_name{font-size:20px}
._42b3{display:inline-block;position:relative;vertical-align:bottom}._42b6._42b6{border-radius:4px;box-shadow:0 1px 2px rgba(0, 0, 0, .125);display:block;margin-top:-50%;padding:2px}._42b6._42b6._42b6{background-color:#fff}._2aol{border:1px solid #4080ff}
.touch ._1oby ._5c9u{background:#fff}.touch ._1n8h ._1oby{border-top:1px solid #f2f2f2}
html .touch ._3e18{background:#fff;padding:12px 0;text-align:center}._3e19{padding:0 20px}._3e19:last-child{margin-left:8px}._a7k{margin-top:6px}
._2q1g{color:#4b4f56;margin-bottom:8px}
._2t39{border-bottom:1px solid rgba(0, 0, 0, .025);border-top:1px solid #bec2c9;margin-bottom:-1px;margin-top:-1px;position:relative;z-index:1}._1rbr{border-top:1px solid #f2f2f2}
._5f99{border-top:1px solid #f2f2f2}
._18es{margin-left:0;margin-right:0;position:relative}._18et{border:1px solid #bec2c9;border-radius:0;color:#90949c}._18et.touched{background-color:#bec2c9}._18es.async_elem_saving ._18et{visibility:hidden}._18eu{display:none;position:absolute;top:10px;width:100%}._18es.async_elem_saving ._18eu{display:block}
html .touch ._5qih .sectionContent ._5mg0 .mfsl{font-size:12px;font-weight:bold;margin-left:24px;text-align:left;text-shadow:none}html .touch ._5qih .sectionContent.touched ._5mg0 .mfsl{color:#fff}html .touch ._5qih .sectionContent.touched{background-color:#adb2bb}
._5qmp{margin-top:10px}
._10c_{margin:14px 0 0}._2jl2{margin-bottom:14px}._10c_ ._2jl2{background:#fff;border-bottom:1px solid rgba(0, 0, 0, .16);border-top:1px solid rgba(0, 0, 0, .16)}.touch ._2jl2 .touched{background:#f6f7f9}
._1ha{border-bottom:1px solid #ced0d4;border-top:1px solid #dddfe2;text-align:center}._1hb{position:relative}._1hb:before{border-left:1px solid #dddfe2;bottom:11px;content:'';left:0;position:absolute;top:11px}._1hb:first-child:before{display:none}._1hc{padding:10px 0 11px;text-shadow:0 1px 0 #fff}._ueu{padding:8px;text-shadow:0 1px 0 #fff}
._x6q{position:relative}._1m2u{color:#90949c}._1m2v._1m2v{margin-left:8px;vertical-align:middle}
._3qu{padding:10px}._13yf{margin-bottom:-2px}
._1of-{padding:0 10px}._4fij{border-bottom:1px solid #e5e5e5}._4fij:last-child{border-bottom:none}._4fik{border-top:1px solid #e5e5e5}
._16t3{margin:0 auto}
._ck_{word-wrap:break-word}
._1li2{margin:0 auto}
._3gn9{padding:0 10px}
._2w_d{position:relative}._2w_e{position:absolute;right:0;top:2px}
._6gr.touched{opacity:.3}
._5gfz.touched{opacity:.3}

._5a1{height:0;overflow:hidden}.async_composer_saving ._5a1{background:#fff;height:auto;margin-bottom:8px;padding:12px}
.touch ._55so{position:relative;z-index:1}.touch ._55so::before,.touch.wp.x1-5 ._55so::before,.touch.wp.x2 ._55so::before{border-color:rgba(0, 0, 0, .1) rgba(0, 0, 0, .15) rgba(0, 0, 0, .2);border-radius:3px;border-style:solid;border-width:1px;bottom:-1px;box-shadow:0 1px 2px rgba(0, 0, 0, .1);content:'';left:-1px;pointer-events:none;position:absolute;right:-1px;top:-1px;z-index:-1}.touch.x1-5 ._55so::before,.touch.x2 ._55so::before{border-color:transparent;border-image:url(/rsrc.php/v3/yf/r/WMeEiOl39aI.png) 10 10 14 10 repeat;border-radius:0;border-width:5px 5px 7px;bottom:-4px;box-shadow:none;left:-2px;right:-2px;top:-2px;z-index:2}.touch ._59f6._55so::before{background:linear-gradient(rgba(228, 228, 231, 0), rgba(228, 228, 231, 1));border:none;border-bottom:1px solid #dcdde1;border-image:none;bottom:0;box-shadow:none;height:3px;left:0;right:0;top:auto;z-index:3}.touch ._55so._5i-i::before{display:none}.touch ._55ss ._55sr{display:block}.touch ._55ss ._5c9u{font-size:11px;height:52px;line-height:36px;padding:10px 8px 4px}.touch ._59f6 ._5c9u{height:60px;line-height:48px;padding:8px}.touch ._55ss ._5c9v,.touch ._55ss ._56b- ._5c9v{margin:0;top:-1px}.touch ._55ss ._56b- ._5c9v{top:-17px}.touch ._55ss ._56b- ._55sr{position:relative;top:22px}.touch ._55ss ._56by ._5c9v{top:-2px}.touch ._55ss ._5c9u,.touch ._55ss ._55sr{line-height:22px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.touch ._55ss ._5c9u._56by{line-height:36px}.touch ._55ss._59f6 ._5c9u,.touch ._59f6 ._55sr{line-height:27px}.touch ._55ss ._55sr{line-height:16px}.touch ._55st:first-child ._5c9u{border-bottom-left-radius:2px;border-top-left-radius:2px}.touch ._55st:last-child ._5c9u{border-bottom-right-radius:2px;border-top-right-radius:2px}.touch ._55so._59f6::before,.touch.wp.x1-5 ._55so._59f6::before,.touch.wp.x2 ._55so._59f6::before,.touch ._59f6 ._55st ._5c9u{border-radius:0}
.touch ._195r{position:relative}.touch ._ydx ._195r::before{background-clip:padding-box;background-image:linear-gradient( rgba(211, 214, 219, 0) 0%, rgba(211, 214, 219, 1) 50%, rgba(211, 214, 219, 0) 100% );border-right:1px solid rgba(255, 255, 255, .4);bottom:0;box-sizing:border-box;content:'';left:-1px;position:absolute;top:0;width:2px;z-index:2}.touch.ios ._ydx ._195r::before{background-color:#dddfe2;border-right:1px solid #fff;-webkit-mask-image:linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100% )}.touch ._ydy ._195r::before{background:#bec2c9;bottom:6px;content:'';left:-1px;position:absolute;top:6px;width:1px;z-index:1}.x1-5 ._ydx ._195r::before,.x1-5 ._ydy ._195r::before{transform:scaleX(.34)}.x2 ._ydx ._195r::before,.x2 ._ydy ._195r::before{transform:scaleX(.5)}.touch ._ydx ._195r:first-child::before,.touch ._ydx ._5ca9+._195r::before,.touch ._ydy ._195r:first-child::before,.touch ._ydy ._5ca9+._195r::before{content:none;display:none}.touch button._5c9u{-webkit-appearance:none;border:none;margin:0;padding:0}.touch button._5caa{width:100%}.touch ._5c9u{display:block}.touch ._5c9u,.touch ._5ca9,.touch button._5c9u{background-color:#e9ebee;background-image:linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));box-sizing:border-box;color:#4b4f56;font-size:14px;font-weight:bold;height:44px;line-height:44px;overflow:hidden;padding:0 8px;text-align:center;text-overflow:ellipsis;text-shadow:0 1px rgba(255, 255, 255, .75);-webkit-user-select:none;white-space:nowrap}.touch ._5c9u.touched{background-image:linear-gradient(#f5f6f6, #ced2d7)}.touch ._sxe{border-bottom:1px solid #dddfe2}.touch ._ydz ._5c9u{background:white}.touch ._yd- ._5c9u{color:#90949c}.touch ._5c9v{margin-right:6px;position:relative;top:-1px}.touch ._56by ._5c9v{margin:0}.touch ._56b- ._5c9v{margin-left:6px;margin-right:0}.touch ._5kqs ._55sr{color:#4080ff}

#bootloader_8jOyo{height:42px;}.bootloader_8jOyo{display:block!important;}