.sp_1WEfb5knSmU{background-image:url(/rsrc.php/v3/ys/r/numgjV2JLCE.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_1WEfb5knSmU.sx_bd7d6b{background-position:0 0}.sp_1WEfb5knSmU.sx_972923{background-position:0 -17px}.sp_1WEfb5knSmU.sx_bbe42f{background-position:0 -34px}
.sp_2PRaOSHslBf{background-image:url(/rsrc.php/v3/yt/r/gLN094C1d9b.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_2PRaOSHslBf.sx_e34100{background-position:0 0}.sp_2PRaOSHslBf.sx_05a4a4{background-position:0 -17px}
.sp_INl6TMVSMbH{background-image:url(/rsrc.php/v3/yC/r/S-YXS8ES3gN.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_INl6TMVSMbH.sx_63b5cd{background-position:0 0}.sp_INl6TMVSMbH.sx_566aac{background-position:0 -17px}
.sp_bHOBqts7qtr{background-image:url(/rsrc.php/v3/y1/r/45kMT-NITsi.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_bHOBqts7qtr.sx_3c3e59{background-position:0 0}.sp_bHOBqts7qtr.sx_6b042f{background-position:0 -17px}
.sp_lRGaGntZ8Yr{background-image:url(/rsrc.php/v3/yi/r/Cj6KDGnUEjR.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_lRGaGntZ8Yr.sx_981fa3{background-position:0 0}.sp_lRGaGntZ8Yr.sx_eda9cb{background-position:0 -17px}
.sp_mMLYQazFM1H{background-image:url(/rsrc.php/v3/yq/r/dH4UNeh6ecu.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_mMLYQazFM1H.sx_926314{background-position:0 0}.sp_mMLYQazFM1H.sx_a16478{background-position:0 -17px}

#bootloader_kAVQx{height:42px;}.bootloader_kAVQx{display:block!important;}