.sp_E09B9ye5lWQ{background-image:url(/rsrc.php/v3/yP/r/AoSIF_arQ2e.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_E09B9ye5lWQ.sx_cee15e{background-position:0 0}.sp_E09B9ye5lWQ.sx_5dfea1{background-position:0 -17px}

#bootloader_kduq3{height:42px;}.bootloader_kduq3{display:block!important;}