/*
 * utilities.less
 */

/* ----- Alignment ----- */

.container{
	@media (min-width: @screen-lg) {
		padding-left: 100px;
	}
}
// Vertical alignment
.align-container {
	display: table;
	width: 100%;
	height: 100%;
}

.align-inner {
	display: table-cell;
	vertical-align: middle;
}

.align-inner--top {
	vertical-align: top;
}

.align-inner--bottom {
	vertical-align: bottom;
}

// Horizontal alignment
.align-center {
	text-align: center;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.small-gutter > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.spacer-l{
    margin-left: 0;
	@media (min-width: @screen-md) {
		margin-left: 30px;
	}
}

.button-red{
	background-color: @red;
	color: white;
	transition: background 100ms ease-in-out;
	&:hover{
		background-color: lighten(@red, 5%);
	}
}
.button-blue{
	background-color: @blue;
	color: white;
	transition: background 100ms ease-in-out;
	border: 1px solid @blue;
	&:hover{
		color: @blue !important;
		background-color: white;
	}
}
.button-white{
	transition: background 100ms ease-in-out;
	background-color: transparent;
	color: white;
	border: 1px solid white;
	&:hover{
		background: white;
		color: @blue;
	}
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 80, 0.59);
}