.banners{
    margin-top: 100px;
}
.left-banner{
    height: 500px;
    width: 100%;
    background-size: cover;

    margin-right: 15px;
    background-repeat: no-repeat;
}

.right-banner{
    height: 245px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    margin-left: 10px;
}
