.content-area{
    width: 80%;
    margin: auto;
    input{
        padding: 10px 5px;
    }
    .entry-title{
        margin-top: 100px;
    }
    #order_comments{
        height: auto;
        padding: 10px 10px;
        @media (min-width: @screen-sm-min){
            height: 765px;
          }
    }
    .create-account{
        display: none;
    }
    #order_review_heading{
        margin-top: 30px;
    }
    .place-order{
        input{
            background-color: @blue !important;
            display: block;
            width: 100%;
        }
    }
    .woocommerce-info{
        
    }
}
