.contact{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    @media (min-width: @screen-sm) {
        height: 500px;
    }

    .align-container{
        text-align: center;
        position: relative;
        height: 550px;
        @media (min-width: @screen-sm) {
            height: 500px;
        }
    }
    h1{
        color: white;
        font-size: 40px;
        margin-bottom: 10px;
         @media (min-width: @screen-sm) {
            font-size: 60px;
        }
    }
    span{
        color: white;
        line-height: 20px;
        font-size: 18px;
        display: block;
        margin-bottom: 100px;
    }
}

.contact-items{
    margin-bottom: 100px;
    .review-item{
        margin-top: 50px;
        transition: all ease-in-out 200ms;
         @media (min-width: @screen-sm) {
            margin-top: -175px;
        }
        &:hover{
            -webkit-box-shadow: 0px 10px 79px 20px rgba(43,43,43,0.5);
            -moz-box-shadow: 0px 10px 79px 20px rgba(43,43,43,0.5);
            box-shadow: 0px 10px 79px 20px rgba(43,43,43,0.5);
        }
        svg{
            margin: auto;
            display: block;
            margin-bottom: 20px;
        }
        .mail,.phone{
            fill: #333;
            margin: auto;
        }
        em{
            margin-bottom: 30px;
            display: block;
            font-weight: 300;
            text-align: center;
            display: block;
        }
        a{
            display: block;
            img{
                width: 40px;
            }
        }
    }
}



.modal{
    background: rgba(255, 255, 255, 0.53);
}

.modal-content{
    padding: 50px 15px;
    width: 90%;
    margin: auto;
    @media (min-width: @screen-sm-min){
        padding: 50px;
        width: auto;
    }
    .close{
        font-size: 30px;
        position: absolute;
        right: 15px;
        top: 37px;
        font-weight: bold;
        @media (min-width: @screen-sm-min){
            right: 50px;
        }
    }
    p{
        font-size: 17px;
        margin-bottom: 30px;
    }
    h3{
        font-size: 17px;
        font-weight: bold;
        line-height: 1.4;
    }
}