.destionation-wrap{
    display: none;
    @media (min-width: @screen-sm) {
        margin-top: 150px;
        margin-bottom: 150px;
        display: block;
	}
}
.destination-image{
    margin-right: 15px;
    height: 500px;
    overflow: hidden;
    background-size: cover;
}

//variations
.destination-image-lg{
    height: 500px;
}

.destination-image-sm{
    height: 300px;
}

.destination-content{
    padding-left: 100px;
    span{
        text-transform: uppercase;
        margin-top: 30px;
        display: block;
        font-weight: bold;
        color: black;
    }
    h3{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: black;
    }
    p{
        font-weight: 300;
        margin-bottom: 50px;
        padding-right: 50px;
    }
    a{
        color: @blue;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 100px;
        display: block;
        &:after{
            content: "";
            width: 150px;
            height: 3px;
            display: block;
            background-color: @blue;
            margin-top: 5px;
        }
    }
}

.slick-next:before{
	background: url(../img/icons/arrow-right.png);
    background-repeat: no-repeat;
	content: " ";
	height: 30px;
	display: block;
}

.slick-prev:before{
	background: url(../img/icons/arrow-left.png);
    background-repeat: no-repeat;
	content: " ";
	height: 30px;
	display: block;
}

.slick-slide{
    padding: 0;
}