footer{
    position: relative;
    background-color: #333333;
    color: white;
    text-align: center;
    .align-container{
        height: 500px;
    }
    h3{
        font-size: 50px;
        margin-bottom: 30px;
        font-family: 'Archer';
        font-weight: 400;
    }
    span{
        display: block;
        color: white;
        margin-top: 10px;
    }
}
.footer-social{
    position: absolute;
    bottom: 20px;
    left: 50px;
    ul{
        
    }
    ul li{
        float: left;
        margin: 0 10px;
    }
    a{
        color: white;
        display: block;
        font-family: 'Archer';
        font-size: 14px;
    }
}

.footer-info{
    position: absolute;
    bottom: 20px;
    right: 50px;
    text-align: right;
    li{
        color: white;
        margin-top: 5px;
        display: block;
        font-family: 'Archer';
        font-size: 14px;
    }
}

.shop-page{
    footer{
        background:white;
        h3,p,a,span,li{
            color: #333;
        }
    }
}