.hero{
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    height: auto;
    overflow: hidden;
    @media (min-width: @screen-sm-min){
		height: 100vh;
    }
    .align-container{
        width: 100%;
        height: auto;
        display: block;
        @media (min-width: @screen-sm-min){
		    height: 90vh;
            display: table;
    	}
    }
    .align-inner{
        vertical-align: initial;
        display: initial;
        @media (min-width: @screen-sm-min){
		    display: table-cell;
            vertical-align: middle;
    	}
    }
    .hero-logo{
        @media (min-width: @screen-sm-min){
		    width: initial;
    	}
    }
    .hero-logo_icon{
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 30px;
        @media (min-width: @screen-sm) {
			margin: 0 auto;
            width: auto;
		}
    }
    .hero-title{
         color: white;
         font-size: 40px;
         font-weight: normal;
         text-align: center;
         font-family: 'Amaranth';
         margin-bottom: 0;
        @media (min-width: @screen-sm-min){
		    text-align: initial;
            font-size: 100px;
            margin-bottom: 30px;
    	}
    }
    .hero-content{
        color: white;
        font-size: 20px;
        margin-left: 15px;
        font-weight: 200;
        font-style: normal;
        text-align: center;
        font-family: 'Amaranth';
        line-height: 45px;
        @media (min-width: @screen-sm-min){
		    text-align: initial;
            font-size: 40px;
    	}
    }
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg_video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}



.site-header--sticky {
	position: fixed;
	top: 0;
	padding: 20px 0;
	transform: translateY(-100%);
	transition: transform 500ms;
	z-index: 100;
	backface-visibility: hidden;
    background: #000;
    width: 100%;
    height: 100px;
    transition: all 500ms ease-in-out;
	@media (min-width: @screen-lg) {
		padding: 20px 0;
        height: 100vh;
        width: 90px;
	}

	&-visible {
		transform: translateY(0);
	}

	.site-header__logo {
		img {
			height: 40px;
            float: right;
            margin-top: 10px;
            margin-right: 20px;
            @media (min-width: @screen-lg) {
                margin-top: 85vh;
                margin-right: 0;
                float: none;
	        }   
		}
	}

	.site-header__nav {
		margin: 7px 0 0 0;
	}
}

.fixed-subheader {
	.site-header:not(.site-header--sticky) {
		@media (min-width: @screen-sm) {
			position: fixed;
			top: 0;
		}
	}
}

.site-header--sticky-in{
        -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.hero-buttons{
    text-align: center;
    position: relative;
    bottom: 20px;
    width: 100%;
    left: 0;
    @media (min-width: @screen-sm) {
		position: absolute;
        bottom: 0;
	}
    .button-white{
        &:visited{
            color: white;
        }
        &:hover{
            color: @blue;
        }
    }
    .button-blue{
        &:visited{
            color: white;
        }
    }

}
.button-buy{
    padding: 15px 30px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 100px 20px 20px 0;
}
