.home-post{
    .button-blue{
        &:hover{
            background: @blue;
            color: white;
        }
    }
    h3{
        display: inline-block;
        margin-top: 15px;
    }
    .home-post_item{
        margin: 50px 0;
        @media (min-width: @screen-lg) {
			margin: 50px 0 100px 50px;
		}
    }
    .home-post_item--top{
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        display: block;
        margin-bottom: 30px;
    }
    .home-post_item--bottom{
        span{
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            letter-spacing: 1px;
            font-size: 12px;
        }
        em{
            font-style: initial;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        a{
            font-size: 30px;
            display: block;
            font-family: 'Archer';
            font-weight: 600;
        }
    }
    .nav-tabs>li>a{
        margin-right: 2px;
        line-height: 1.42857143;
        color: #fff;
        border-radius: 30px;
        font-family: Archer;
        font-weight: 500;
        padding: 10px 20px;
        transition: all ease-in-out .1s;
    }   
    .nav-tabs{
        float: right;
    }
}
