.info{
    margin: 100px 0;
    @media (min-width: @screen-sm) {
        margin-bottom: 150px;
        margin-top: 0;
	}
    span{
        text-transform: uppercase;
        display: block;
        font-weight: bold;
        color: black;
    }
    h3{
        font-size: 36px;
        color: black;
        font-weight: bold;
        margin-top: 30px;
    }
    p{
        line-height: 30px;
        font-weight: 400;
    }
}