/*
 * offcanvas.less
 */

.transition{
  /* This is !important to include */
  -webkit-transition: -webkit-transform .5s; 
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

/* ----- General ----- */
.offcanvas-expanded{
  .page-wrap{
    /* This is !important to include */
    -webkit-transform: translateX(-320px); 
    -ms-transform: translateX(-320px); 
    transform: translateX(-320px);
    @media (min-width: @screen-sm) {
      -webkit-transform: translateX(-100%); 
      -ms-transform: translateX(-100%); 
      transform: translateX(-100%);
	  }
  }
  .site-header--sticky {
    background-color: transparent;
    img{
      visibility: hidden;
    }
  }
}

.offcanvas{
  /* This is !important to include */
  width: 320px; 
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 99;
  -webkit-transform: translateX(-100%); 
  -ms-transform: translateX(-100%); 
  transform: translateX(-100%);
  -webkit-box-shadow: 0px 10px 10px -2px rgba(82,82,82,1);
  -moz-box-shadow: 0px 10px 10px -2px rgba(82,82,82,1); 
  box-shadow: 0px 10px 10px -2px rgba(82,82,82,1);
  .transition;
  @media (min-width: @screen-sm) {
    width: 100%;
  }


  .mobile-wrap{
    background: white;
    display: inline-block;
    height: 100vh;
    width: 100%;
    padding-top: 80px;
    padding-left: 50px;
    @media (min-width: @screen-sm-min){
      padding-top: 100px;
      padding-left: 100px;
    }
  }
  .social-wrap{
    background: black;
    display: inline-block;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    padding-left: 20px;
    color: white;
  }
  .nav--mobile{
      li{
          margin-top: 20px;
          @media (min-width: @screen-sm-min){
            margin-top: 50px;
          }
      }
      li a{
          font-size: 30px;
          font-weight: 600;
          text-align: left;
          display: block;
          color: #1e1e22;
          @media (min-width: @screen-sm-min){
            font-size: 60px;
          }
          &:hover{
            color: #3498db;
          }
      }
      li:last-child{
        a{
            color: black;
          }
      }
    }
    .icons--mobile{
      li{
        margin-top: 50px;
      }
      li a img{
        width: 20px;
        display: block;
        margin: auto;
      }
    }
    .rotator{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        display: block;
        margin-top: 100px;
      }
}

.offcanvas-expanded{
  .offcanvas{
    /* This is !important to include */
    -webkit-transform: translateX(0); 
    -ms-transform: translateX(0); 
    transform: translateX(0);
  }
}
#nav-toggle { 
	cursor: pointer; 
	padding: 25px;
	position: fixed;
	top: 25px;
  left: 20px;
	display: block;
  background-color: transparent;
  z-index: 999;
  transition: all 100ms ease-in-out;
	@media (min-width: @screen-lg-min){
    left: 15px;
    top: 40px;
    right: initial;
	}
}


#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  margin-left: -12.5px;
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}


#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}



#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
  background: black;
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
  background: black;
}
