.package{
    position: relative;
    .align-container{
        height: 500px;
    }
    .align-inner{
        text-align: center;
        color: white;
        @media (min-width: @screen-sm) {
            padding: 0;
	    }
        h3{
            font-size: 38px;
            line-height: 48px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .overlay{
        background: rgba(0, 0, 0, 0.48);
    }
}
.package-content{
    text-align: center;
    .package-content_item{
        background-color: white;
        padding: 50px 15px;
        @media (min-width: @screen-sm-min){
            margin-top: -100px;
          }
    }
    img{
        width: 70px;
        margin: auto;
        margin-bottom: 30px;
        display: block;
    }
    h3{
        margin-bottom: 30px;
        font-weight: 400;
        text-transform: uppercase;
    }
    p{
        font-weight: 300;
        font-size: 14px;
        color: #686868;
    }
    a{
        margin-top: 40px;
        display: block;
        img{
            width: 40px;
        }
    }
}