.single{
    .page-hero{
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        position: relative;
        .overlay{
            background: rgba(0, 0, 0, 0.50);
        }
        .hero-buttons{
            position: relative;
            margin-top: 0px;
            a{
                margin-top: 50px;
            }
        }
        .align-container{
            height: 500px;
            text-align: center;
        }
        h1{
            color: white;
            font-size: 60px;
        }
        p{
            color: white;
            line-height: 20px;
        }
    }

    .page-content{
        padding-top: 50px;
        padding-bottom: 50px;
        @media (min-width: @screen-sm) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        p{
            font-weight: 300;
            width: 80%; 
            margin: auto;
            margin-bottom: 50px;
            font-size: 18px;
            line-height: 35px;
        }
        p:first-child{
            font-weight: 500;
            line-height: 45px;
            font-size: 20px;
        }
        h3,h4{
            width: 80%;
            display: block;
            margin: auto;
            
        }
        h3{
            margin-bottom: 0;
            margin-top: 50px;
        }
        h4{
            margin-bottom: 30px;
        }
        img{
            margin: 50px auto;
            display: block;
        }
        .alignleft{
            
            @media (min-width: @screen-sm) {
                float: left;
                width: 50%;
                min-height: 500px;
            }
        }
    }
}

.single-slider{
    margin: 50px 0;
     @media (min-width: @screen-sm) {
         margin: 0 0 100px 0;
    }
    img{
        width: 100%;
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

