/*
 * parallax-module.less
 */

/* ----- Wrapper ----- */
.parallax-module__wrapper {
	position: relative !important;
}

/* ----- Content ----- */
.parallax-module__content {
	position: relative;
	z-index: 1;
}

/* ----- Image ----- */
.parallax-module__image {
	@media (min-width: @screen-md) {
		margin: 0 0 0 0;
	}
}
