.prons{
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-bottom: 200px;
    .align-container{
        height: 600px;
    }
    h3{
        font-size: 36px;
    }
    p{
        margin-bottom: 50px;
    }
    a{
        display: inline-block;
        border: 2px solid white;
        border-radius: 50%;
        margin-right: 50px;

    }
    img{
        width: 110px;
        padding: 20px;
    }
}