.reviews{
    h1{
        display: block;
        margin-top: 47px;
        margin-bottom: 10px;
    }
    span{
        display: block;
        font-weight: 300;
        text-transform: uppercase;
    }
    .single-content{
        width: 100%;
        padding-top: 100px;
        p{
            width: 100%;
        }
    }
    .single-more{
        h3{
            margin-top: 47px;
        }
    }
}
.review-item{
    margin-top: 50px;
}
.review-item_content{
    background: white;
    padding: 50px 30px;
    p{
        font-size: 20px;
        margin-bottom: 30px;
        line-height: 28px;
        font-weight: 300;
    }

}
.review-item_author{
    color: white;
    padding: 30px;
    img{
        width: 80px;
        border-radius: 50%;
        display: block;
        margin: auto;
        margin-top: -75px;
        margin-bottom: 20px;
        border: 2px solid white;
    }
    p{
        text-align: center;
    }
    p:first-of-type{
        font-weight: bold;
        font-size: 20px;
    }
}