.shop{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    height: 100vh;

    .button-white{
        display: block;
        background: white;
        margin: 80px 0 0 0;
        &:hover{
            background: transparent;
            color: white;
        }
    }

    img{
        width: 50px;
    }
    h3{
        font-family: 'Amaranth';
        font-weight: normal;
        font-size: 40px;
        font-style: unset;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    p{
        text-align: center;
        margin-bottom: 30px;
    }

    ul{
        margin-top: 30px;
        padding-left: 20px;

        li{
            display: block;
            text-align: left;
            font-size: 20px;
            font-weight: 400;
            margin-top: 10px;

            &:before{
                content: "•";
                color: white;
                font-size: 30px;
                vertical-align: text-bottom;
                margin-right: 20px;
            }
        }
    }
}

.shop-half{
    margin-top: 70px;
    padding: 50px 50px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(92,92,92,0.5);
    -moz-box-shadow: 0px 10px 5px 0px rgba(92,92,92,0.5);
    box-shadow: 0px 10px 5px 0px rgba(92,92,92,0.5);
    span{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -100px;
        width: 200px;
        padding: 5px 20px;
        background: #fff;
        font-size: 20px;
        font-weight: bold;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.shop-left{
    background: rgba(28, 117, 188, 0.9);
    .button-white{
        color: @blue;
    }
    span{
        color: @blue;
    }
}

.shop-right{
    background: rgba(231, 76, 60, 0.9);
    .button-white{
        color: @red;
    }
    span{
        color: @red;
    }
}