/* ----- blog post ----- */
.single-post_content{
    padding: 0;
    ul{
        list-style-type: disc;
        list-style-image: initial;
        padding-left: 15px;
        font-weight: 500;
        margin-bottom: 50px;
        li{
            padding-left: 15px;
        }
    }
    ol{
        padding-left: 15px;
        margin-bottom: 50px;
    }
    p{
        font-size: 20px;
        margin-bottom: 30px;
    }
    span{
        font-size: 16px;
        line-height: 19.2px;
        margin-bottom: 50px;
        display: block;
        font-weight: 500;
        margin-top: 5px;
    }
    h2{
        margin-bottom: 0;
    }
}
.single-post_cat{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
}
.single-post_more{
    a{
        font-size: 20px;
        margin-bottom: 30px;
        display: block;
        font-weight: bold;
        line-height: 24px;
    }
}