.single-hero{
    background-repeat: no-repeat;
    background-size: cover;
    height: 84vh;
    position: relative;
     @media (min-width: @screen-sm) {
            height: 500px;
        }
    .overlay{
        background: rgba(0, 0, 0, 0.50);
    }
    .hero-buttons{
        position: relative;
        margin-top: 0px;
        display: inline-block;
    }
    .align-container{
        text-align: center;
        position: relative;
        height: 80vh;
        @media (min-width: @screen-sm) {
            height: 500px;
        }
    }
    h1{
        color: white;
        font-size: 60px;
    }
    p{
        color: white;
        line-height: 20px;
        padding: 0px 15px;
        @media (min-width: @screen-sm) {
            padding: 0;
        }
    }
    .button-buy{
        margin: 50px 15px;
        width: 130px;
    }
    .button-blue{
        background: white;
        color: #333;
        border: 1px solid white;
        &:hover, &:visited{
            background: #333;
            border: 1px solid #333;
            color: white !important;
        }
    }
    .button-white{
        color: white;
        &:visited{
            color: white;
        }
        &:hover{
            color: #333 !important;
        }
    }
}


.page-template-package_single{
    .home-post{
        padding-bottom: 0;
        padding-top: 150px;
        position: relative;
        text-align: center;
        @media (min-width: @screen-sm) {
            padding-top: 200px;
            padding-bottom: 100px;
        }
        .home-post_item{
            margin: 50px 0 0 0;
        } 
        .nav-tabs{
            margin-top: 5px;
            float: none;
            display: inline-block;
            li{
                margin: 0 auto;
                max-width: 80px;
                @media (min-width: @screen-sm) {
                    max-width: initial;
                }
            }
            .active a:focus, .active a:hover{
                color: transparent;
                @media (min-width: @screen-sm) {
                    color: white;
                }
            }
            .active{
                img{
                    opacity: 1;
                }
                a{
                    opacity: 1;
                }
            }
            li a{
                color: transparent;
                padding: 0;
                border-radius: 0;
                font-size: 14px;
                text-align: center;
                opacity: 0.5;
                font-weight: bold;
                padding: 20px 0;
                @media (min-width: @screen-md) {
                    padding: 20px 40px;
                    color: white;
                    border-right: 1px solid rgba(255, 250, 250, 0.46);
                }
            }
            li:last-child{
                a{
                    border-right: none;
                }
            }
        }
        .home-post_item{
            .home-post_item--bottom{
                text-align: left;
                a:visited{
                    color: #333;
                }
            }
        }
        .tab-content{
            @media (min-width: @screen-sm) {
                margin-top: -100px;
            }
        }
        .tab-clickers{
            height: 16vh;
            width: 100%;
            top: 0;
            left: 0;
            margin-bottom: 50px;
            border-bottom: 1px solid white;
            position: absolute;
            top: 0;
            z-index: 89;
            transition: all 200ms ease-in-out;
            @media (min-width: @screen-sm) {
                height: 150px;
            }
        }
        .clickers-sticky {  
            @media (min-width: @screen-lg) {
                display: block;
                position: fixed;
                backface-visibility: hidden;
                height: 130px;
                overflow: hidden;
                img{
                    width: 70px;
                    margin-top: 30px;
                }
                .nav-tabs{
                    margin-top: 0;
                    li{
                        a{
                            padding: 10px 20px;
                            color: transparent !important;
                        }
                    }
                }
            }
        }
    }
}

.single-content{
    padding-bottom: 100px;
    padding-top: 50px;
    p{
        font-weight: 300;
        width: 100%; 
        margin: auto;
        margin-bottom: 50px;
        font-size: 18px;
        line-height: 35px;
        @media (min-width: @screen-sm) {
            width: 80%;
        }
    }
    p:first-child{
        font-weight: 500;
        line-height: 45px;
        font-size: 20px;

    }
}

.single-more{
    a{
        font-size: 20px;
        margin-bottom: 40px;
        display: block;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        &:visited{
            color: #333;
        }

    }
    a:hover, a:focus{
        text-decoration: underline;
    }
    h3{
        display: block !important;
        text-align: left !important;
        margin-top: 45px !important;
    }
}

.four-block{
    display: inline-block;
    width: 100%;
    h3{
        margin-top: 30px;
        display: block !important;
        text-align: left;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 15px;
        @media (min-width: @screen-sm) {
            margin-top: 100px;
        }
        &::after{
            content:"";
            background: #333;
            height: 3px;
            width: 5%;
            display: block; 
            margin-top: 10px;
        }
    }
}