footer{
    .site-footer_content{
        padding: 80px 0;
        .align-container{
            li{
                text-align: center;
                display: block;
                text-align: center;
                @media (min-width: @screen-md) {
                    display: table-cell;
                    vertical-align: middle;
                }
                a{
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 22px;
                    color: white;
                    line-height: 39.6px;
                    span{
                        text-transform: lowercase;
                    }
                }
                img{
                    max-width: 100px;
                    margin: 30px 0;
                    @media (min-width: @screen-md) {
                        max-width: 180px;
                        margin: auto;
                    }
                }
            }
        }
    }
    .site-footer_copyright{
        padding: 50px 0;
        ul{
            width: 300px;
            margin: auto;
        }
        li{
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            a{
                font-weight: bold;
                font-size: 18px;
                line-height: 21.6px;
            }
        }
    }
}