.slogan{
    .align-container{
        height: auto;
        margin: 50px 0;
        @media (min-width: @screen-sm) {
			height: 80vh;
            margin: initial;
		}
    }
    h3{
        line-height: 45px;
        font-size: 30px;
        font-weight: normal;
        text-align: center;
        @media (min-width: @screen-sm) {
			font-size: 45px;
            padding-left: 0;
            text-align: center;
            margin: 0px 0px 0px 30px;
		}
    }
    img{
        width: 120px;
        margin: auto;
        display: block;
        @media (min-width: @screen-sm) {
			margin-top: 50px;
            margin-bottom: 0;
            width: 200px;
		}
    }
}
