.testemonials{
    margin-bottom: 150px;
    position: relative;
     .slick-next:before{
        background: url(../img/icons/arrow-right.png);
        background-repeat: no-repeat;
        content: " ";
        height: 30px;
        display: block;
    }

    .slick-prev:before{
        background: url(../img/icons/arrow-left.png);
        background-repeat: no-repeat;
        content: " ";
        height: 30px;
        display: block;
    }
}
.testemonial-content{
    height: 500px;
    color: white;
    text-align: center;
    @media (min-width: @screen-lg) {
		padding-left: 100px;
        height: 500px;
	}
    h3{
        padding: 0px 15px;
        @media (min-width: @screen-md) {
            padding: initial;
        }
        &:after{
            content: "";
            display: block;
            margin: auto;
            height: 4px;
            width: 60px;
            background-color: white;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }
    h4{
        text-transform: uppercase;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: bold;
        font-size: 14px;
    }
    em{
        display: block;
        text-transform: uppercase;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: bold;
        font-style: normal;
    }
    a{
        display: inline-block;
        padding: 10px 40px;
        color: @blue;
        border: 2px solid white;
        border-radius: 20px;
        text-align: center;
        font-size: 16px;
        margin-top: 50px;
        background: white;
        &:hover{
            background: transparent;
            color: white;
        }
    }
}

.testemonial-item_bg{
    height: 500px;
    background-size: cover;
    display: none;
    border: 1px solid white;
    @media (min-width: @screen-md) {
		display: block;
	}
    img{
        width: 150px;
        display: block;
        margin: auto;
        border-radius: 50%;
    }
    h4{
        color: white;
        text-align: center;
        margin-top: 30px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}